body {
  background-color: #EEEEEE;
  color: #000080;
  font-family: Verdana, sans-serif;
  font-size: 15px;
}

h1 {
  background-color: #BDB69C;
  color: #565B60;
  font-size: 3em;
  text-transform: uppercase;
}

p {
  text-align: justify;
  line-height: 1.5;
}

q {
  font-family: "Comic Sans MS", cursive;
  color: DarkSlateBlue;
  font-size: 1.1rem;
}
